body {
  font-family: 'Roboto', sans-serif;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/public/bg.png);
  opacity: 0.25;
  z-index: -1;
}

.main-content {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.current-user-photo {
  border-radius: 100px;
}

.profile {
  border-radius: 100px;
  width: 50px;
}

.next-user {
  text-align: center;
  margin-bottom: 50px;
}

.inset {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0px 0px 10px 2px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    inset 0px 0px 10px 2px rgba(50, 50, 50, 0.3);
  box-shadow:         inset 0px 0px 10px 2px rgba(50, 50, 50, 0.3);
}

.other-user {
  display: table;
}

.other-user-name {
  display: table-cell;
  vertical-align: middle;
  padding-left: 30px;
}
