{{define "body"}}
<div>
    <div class="other-users inset">
      <h2>Please enter the password for this scheme</h2>
      <form action="auth" method="POST">
        <input type="hidden" name="scheme" value="{{.Id}}">
        <input type="password" name="password"></input>
        <input type="submit" value="Authenticate"></input>
      </form>
    </div>
</div>
{{end}}
