{{define "template"}}
<html>
<head>
  <title>The Milk Scheme</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="/static/tms.css">
  <!-- <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' -->
  <!-- type='text/css'> -->
</head>
<body>
  <div class="background"></div>
  <div class="main-content">
    {{template "body" .}}
  </div>
</body>
</html>
{{end}}
