{{define "body"}}
<div>
  <div class="inset">
    <h2>{{.Name}}</h2>
    <div class="other-user">
      <img class="profile" src="/public/{{.PicUrl}}">
      <p class="other-user-name">
      <form action="/scheme/{{.SchemeId}}/users/{{.PositionInScheme}}/update" method="POST">
        <div>
          <label>
            Name:
            <input name="name" type="text" value="{{.Name}}">
          </label>
        </div>
        <div>
          <label>
            PicUrl (these currently need to be added manually):
            <input name="picurl" type="text" value="{{.PicUrl}}">
          </label>
        </div>
        <div>
          <label>
            Email:
            <input name="email" type="text" value="{{.Email}}">
          </label>
        </div>

        <input type="submit" value="Update">
      </form>
      </p>
    </div>
  </div>
</div>
{{end}}
