{{define "body"}}
<div>
    <div class="other-users inset">
      <h2>Members</h2>
      {{range .Users}}
        <div class="other-user">
          <img class="profile" src="/public/{{.PicUrl}}">
          <p class="other-user-name">
            {{.Name}},
            {{.PositionInScheme}},
            <a href="/scheme/{{.SchemeId}}/users/{{.PositionInScheme}}/edit">Edit</a>,
            <a href="/scheme/{{.SchemeId}}/users/{{.PositionInScheme}}/delete">Delete</a>
          </p>
        </div>
      {{end}}
      <a href="/scheme/{{.Id}}/users/new">Add Member</a>
    </div>
</div>
{{end}}
