{{define "body"}}
<div>
    <div class="next-user inset">
      <div class="image">
        <img class="current-user-photo" src="/public/{{.CurrentUser.PicUrl}}">
      </div>
      <h1>
        {{ if .IsEmpty }}
          {{.CurrentUser.Name}} needs to purchase the milk!
        {{ else }}
          It's {{.CurrentUser.Name}}'s turn when the milk runs out.
        {{ end }}
      </h1>
        {{ if .IsEmpty }}
          <form method="POST" action="/scheme/{{.Id}}/purchase">
            <button type="submit">Click here when you have purchased the milk!</button>
          </form>
        {{ else }}
          <form method="POST" action="/scheme/{{.Id}}/ranout">
            <button type="submit">Click here when the milk has ran out!</button>
          </form>
        {{ end }}
    </div>
    <div class="other-users inset">
      <h2>Waiting in the wings</h2>
      {{range .OtherUsers}}
        <div class="other-user">
          <img class="profile" src="/public/{{.PicUrl}}">
          <p class="other-user-name">
            {{.Name}}
          </p>
        </div>
      {{end}}
    </div>
</div>
{{end}}
